.img1 {
text-align: center;
}

#img1 {
  width: 75%;
  margin-top: 5%;
}

#where-img1 {
  margin: 5%;
  border: #cecccc solid 2px;
}

iframe {
  width: 700px;
  height: 550px;
  border: 0;
  margin-left: 230px;
  margin-top: 80px;
}