header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  height: 75px;
  padding: 1rem;
  color: white;
  background: #E84C4C;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, p {
  margin: 0;
}

body {
  padding-top: 75px;
  background: #EEE;
}

body, html {
  height: 200%;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}