.img1 {
text-align: center;
}

#img1 {
  width: 75%;
  margin-top: 5%;
}

#where-img1 {
  margin: 5%;
  border: #cecccc solid 2px;
}

iframe {
  width: 700px;
  height: 550px;
  border: 0;
  margin-left: 230px;
  margin-top: 80px;
}

/* -- columns-------------------------------------------------------------------------------------------------------------- */
#columns {
  column-width: 370px;
  /* border: 5px solid rebeccapurple; */
  column-gap: 20px;
  margin: 100px 60px 0px 60px;
}

#columns figure {
  width: 350px;
  height: 530px;
  display: inline-block;
  border: 1px solid #EDDBC0;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 30px;
  padding: 18px;
  background-color: #EDDBC0;
  /* box-shadow: 2px 2px 5px rgb(150, 150, 150); */
}

#columns figure img {
  width: 100%;
}

#columns figure figcaption {
  border-top: 1px solid #EDDBC0;
  background-color: #EDDBC0;
  padding: 10px;
  margin-top: 11px;
}

/* footer */
body {
  margin: 0;
  padding: 0;
}

footer {
  height: 100px;
  color: white;
  background: #B73E3E;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin-left: 8%;
}

footer nav {
  margin-right: 8%;
}

footer img {
  width: 60px;
}